body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.custom-header {
    background-color: #5182BC;
    height: 45px;
    font-family: 'Lato', sans-serif;
}

.custom-footer {
    display: table;
    margin-top: auto;
    background-color: #5182BC;
}

.footer-icon {
    width: 145px;
    height: 45px;
}
